<%= form_for(@issue) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.nil? ? "" : current_user.id  %>
  <%= f.hidden_field :latitude, :id => "new_issue_latitude" %>
  <%= f.hidden_field :longitude, :id => "new_issue_longitude" %>

  <%= f.file_field :image, :id => "new_issue_image_button" %>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
